*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;

}

header{
    height: 10vh;
    background-color: rgb(41, 40, 40);
}

#nav{
    height: 10vh;
}


main{
    height:80vh;
    background-color: black;
}

footer{
    height: 10vh;
    background-color: rgb(51, 53, 53);
}

div h3 {
    background-color: rgb(1, 49, 1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transform: translate(10px);
    animation-name: mi_animacion;
    animation-duration: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}

div h4{
   justify-content: end;
    background-color: rgb(1, 49, 1);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transform: translate(10px);
    animation-name: mi_animacion2;
    animation-duration: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes mi_animacion{
    0% {
        transform: translate(400px);


    }

    25% {
        transform: translate(400px);


    }

    50% {
        


    }

    75% {
        


    }

    100% {
       


    }





}

.animate__animated.animate__backInLeft{
    --animate-delay:20s;

}

@keyframes mi_animacion2{
    0% {
        transform: translate(0px);

    }

    25% {
        


    }

    50% {
        


    }

    75% {
        


    }
    

    100% {
        transform: translateY(200px)


    }





}

.animate__animated.animate__backInLeft{
    --animate-delay:20s;

}